.crm-add-new-order {
    .form-group {
        
        .social {
            display: flex;
            flex-wrap: nowrap;

            label {
                border-radius: 5px;
                width: 40px;
                height: 40px;
                @include margin($right:5px);
                border: 1px solid #ddd;
                cursor: pointer;
                font-size: 30px;
                line-height: 40px;
                color: #ddd;
            }

            input[type="checkbox"] {
                appearance: none;

                &:checked+label {
                    color: color(white-color);
                    animation: IconsBoxShadow .3s 1;
                    border: none;
                }

                &:checked+label:nth-of-type(1) {
                    background-color: #4267B2;
                }

                &:checked+label:nth-of-type(2) {
                    background-color: #20A413;
                }

                &:checked+label:nth-of-type(3) {
                    background-color: #15AABF;
                }
            }
        }
    }
}