/*-------------------------------
    All Colors in project 
--------------------------------*/

$colors: (
    white-color: #fff,
    primary: #484848,
    secondary: #f18c2f,
    body-bg: #f7f7f7,
    error: #F15757,
    success-dark: #05A47B,
    success-light: #21AD64,
    light-grey: #ccc
);

/*-------------------------------
    All Fonts in project 
--------------------------------*/

$fonts: (
    font-regular:'Moteserat regular',
    font-medium:'Moteserat medium',
    font-bold:'Moteserat bold'
);