.widget {
    @include margin((2.25rem));
    @include padding((2rem 1rem));
    background-color: color(white-color);
    border-radius: 10px;
    box-shadow: 2px 2px 6px #ddd;

    @include margin($top: 2.25rem, $right: 1.15rem, $bottom: 2.25rem, $left: 1.15rem, $media: (min-width: 991px) and (max-width: 1206px));

    .widget-content {
        display: none;
    }

    .widget-title {
        cursor: pointer;
    }

    @include smallScreen {
        @include margin((1.5rem));
    }

    @include smallScreen {
        @include margin($left:0, $right:0);
        @include padding((2rem 0));
    }

    .widget-title {
        @include margin($bottom:50px);
        color: color(primary);
        

        &:after {
            content: "";
            border-radius: 10px;
            background-color: color(secondary);
            width: 10.05%;
            height: 8px;
            @include margin($top:15px);
            display: block;

            @include smallScreen {
                height: 7px;
            }
        }
    }

}