.color-pallete {
    .color-pallete-btn {
        display: flex;
        align-items: center;
        width: 100%;
        @include border($width: (1px), $style: solid, $color: color(light-grey));
        color: color(primary);
        text-align: $start;
        position: relative;

        span.color-name {
            @include margin($left: 10px);
        }

        span.color-circle {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-image:radial-gradient(#f00, #f080, #000);
        }
    }

    .color-menu {
        width: 100%;
        @include padding($top:30px, $right:20px, $bottom:30px, $left:20px);
        border-bottom-#{$start}-radius: 3px;
        border-bottom-#{$end}-radius: 3px;

        span:first-of-type {
            color: color(secondary);
        }

        &>div {
            @include margin($bottom: 10px);
            display: flex;
            justify-content: space-between;
        }

        .colors {
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        button.add-color {
            font-size: 10px;
            width: 20px;
            height: 20px;
            padding: 0;
            text-align: center;
            line-height: 20px;
            border-radius: 2px;
        }
    }



    .color-item {
        width: 20px;
        height: 20px;
        @include margin(3px);
        border-radius: 50%;
        cursor: pointer;
    }

    .dropdown-toggle::after {
        @include position($type: absolute, $top: ((38-4.8)/2) + px, $right: 12px);
    }
}