.tab-content {
    position: relative;
    @include margin($top:0, $right:0, $bottom:2.25rem, $left:0);
    @include padding($top:2rem, $right:1.5rem, $bottom:2rem, $left:1.5rem);
    border-radius: 0 10px 10px 10px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.nav-tabs {
    border: none;

    .nav-item:first-of-type {
        .nav-link {
            border-top-left-radius: 10px;
        }
    }

    .nav-item {
        .nav-link {
            @include padding(13px 18px);
            box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.1);
            border: none;
            background: color(primary);
            color: color(white-color);
            border-radius: 0;

            &.active {
                background: color(secondary);
            }
        }
    }

    .nav-item:last-of-type {
        .nav-link {
            border-top-right-radius: 10px;
        }
    }
}